<!doctype html>
<html lang="en">

  <%- include('../includes/head') %>

  <body>
    <%- include('../components/navbar') %>
    <div class="container">
      <h1>Welcome Backend Agrisight</h1> 
    </div>

<%- include('../includes/script') %>
  </body>
</html>